<div id="container" class="max-w-md mx-auto my-8">
  <h1 class="text-3xl bg-navy-blue font-bold text-white mb-4 py-2 rounded-lg text-center">Join Us for a Graduation Celebration for Zach Cygan!</h1>
  <p class="text-center text-gray-700 mb-4">Date: May 28, 2023</p>
  <p class="text-center text-gray-700 mb-4">Time: 2:00 PM - 5:00 PM</p>
  <p class="text-center text-gray-700 mb-4">Location: Cygan Residence</p>
  <h2 class="text-center text-gray-700 mb-4 text-lg font-bold">Please RSVP below by 5/21:</h2>

  <form action="/rsvp" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="firstName">First Name</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="firstName" name="firstName" type="text" placeholder="Enter your first name">
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="lastName">Last Name</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="lastName" name="lastName" type="text" placeholder="Enter your last name">
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="guests">Party Size</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="guests" name="guests" type="number" placeholder="Enter the number your party size" min="1">
    </div>

    <div class="mb-6">
      <label class="block text-gray-700 font-bold mb-2" for="email">Email Address</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" name="email" type="email" placeholder="Enter your email address">
    </div>

    <div class="flex items-center justify-center">
      <button id="rsvpButton" class="bg-orange font-bold text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        RSVP
      </button>
    </div>

  </form>
</div>
