.rsvpButton:active {
    transform: scale(.98);
}

body {
    background-color: #f9f1e8;
}

form {
    background-color: #fff8f2;
}

h1 {
    background-color: #2d4059;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

label {
    color: #2d4059;
    font-weight: bold;
}

button {
    background-color: #e85a4f;
}